html, body {
    margin: 0px;
    border: none;
    width: 100%;
    height: 100%;
}

#main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 30vh;
    margin:5vh;
    font-family: 'Lato', sans-serif;

    background: linear-gradient(270deg, #00beff, #8800ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: AnimationName 10s ease infinite;

    @keyframes AnimationName  { 
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
  }

div#links {
    margin-top: -30px;
    visibility: hidden;
}

div#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    a.button{

        text-decoration: none;
        width: 10vh;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div.svg{
            display: flex;
            justify-content: center;
            img{
                width: 6vh;
                height: 6vh;
            }
        }
        span.text{
            font-family: 'Lato', sans-serif;
            font-size: 2vh;
            margin: auto;
        }
    }
    a:link{
        color: #777;
    }
    a:visited{
        color: #777;
    }
    a:hover{
        color: #333;
    }
}